body {
    background-color: #f4f4f4; /* Color de fondo neutro */
    font-family: 'Arial', sans-serif; /* Fuente legible */
    margin: 0;
    padding: 0;
    background-color: #a5a1a1;
    background-size: cover; /* Ajustar la imagen al tamaño de la pantalla */
    background-blend-mode: multiply;
}

.navegador {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.navegador img {
    max-width: 100px;
    height: auto;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

.prox {
    text-align: center;
    font-size: 36px;
    margin: 35px 0;
    background: linear-gradient(45deg, #333, rgb(70, 47, 38)); /* Degradado lineal */
    -webkit-background-clip: text; /* Opción para navegadores webkit */
    color: transparent; /* Hace que el texto sea transparente */
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


.tabla {
    width: 100%;
    border-collapse: collapse;
    background-color: #82a09c9d;
}

.tabla th, .tabla td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: left;
}

.tabla th {
    background-color: #333;
    color: #ffffffd5;
}

.tabla img {
    max-width: 200px;
    height: auto;
}

footer{
    background-color: black;
    color: antiquewhite;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.redes{
   display: flex;
   justify-content: space-between;
   
}