body {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #969292;
}

.encabezado {
    text-align: center;
    background-color: #333; /* Color de fondo para el encabezado */
    padding: 10px;
}

.encabezado img {
    max-width: 100px; /* Ajusta el tamaño del logo según tus necesidades */
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

h1, h2 {
    text-align: center;
    margin-bottom: 10px;
    color: #333; /* Color de texto principal */
}

p {
    max-width: 600px;
    text-align: center;
    margin: 0 auto;
    color: #464141; /* Color de texto secundario */
}
.tabla {
    width: 50%;
    border-collapse: collapse;
    background-color: #82a09c9d;
    position: relative;
    left: 25%;
}

.tabla th, .tabla td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: left;
}

.tabla th {
    background-color: #333;
    color: #ffffffd5;
}

.tabla img {
    max-width: 200px;
    height: 200px;
}

.img {
    max-width: 100%; /* Ajusta el tamaño de las imágenes según tus necesidades */
    margin-bottom: 10px;
    position: relative;
    left: 43%;
    border-color: #000000;
}

footer{
    background-color: black;
    color: antiquewhite;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.redes{
    display: flex;
    justify-content: space-between;
    
}
